@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=PT+Serif&display=swap');

#ff1{
    font-family: "궁서체";
}
#ff2{
    font-family: "굴림체";
}
#ff3{
    /* 
    글꼴이 없는 경우를 대비해서
    ,를 이용하여 여러글꼴을 나열 할수 있음 */
    font-family: "없는글꼴", "궁서>ㅇ<","궁서체";
}

/*웹폰트*/
h1{
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-family: 'PT Serif', serif;
}
.web-font{
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-family: 'PT Serif', serif;
}
#size1{
    font-size: 30px;
}
#size2{
    font-size: 3em;
}
#size3{
    font-size: 150%;
}
#fw1{
    font-weight: bold;
}
#fw2{
    font-weight: lighter;
}
#fw3{
    font-weight: 900;
}
#fv{
    /* 
    small-caps : 소문자를 대문자로(소문자크기) 바꿉니다 
    normar : 바꾸지않음
    */
    font-variant: small-caps;
}
#fs1{
    font-style: italic;
}
#fs2{
    font-style: oblique;
}

/*
    글자색 변경하기
     - 색상이름 표기법
     - 16진수 표기법
     - rgb/rgba 표기법
     - hsl/hsla 표기법
*/
#c-name{
    /*
        이름으로 지정
        웹 안전 색상
        모든ㅇ ㅞㅂ브라우저에서 표현할 수 있는 색상
        16가지 기본색상을 포함 216가지
    */
    color: rgb(255, 0, 0);
}
#c-16{
    /*
        #과 16진수 6자리를 합쳐서 색상을 표현
        앞에서 부터 2자리씩 묶어 빨강, 초록, 파랑 색상의 양을 표시
        2자리가 중복될 경우 1자리로 표시하기도 함 ex) ffffff == fff, 000000 == 000
    */
    color: #fff;
    background-color: #000;
    padding: 20px;
    font-size: 2em;
}
#c-rgb{
    /*
        빨강 초록 파랑의 양을 0~255까지의 수로 표현
    */
    color:rgb(15, 211, 41);
}
#c-rgba{
    /*
        a: 투명도
        0~1까지
        0: 투명, 1: 불투명
    */

    /*
        hsl방식
        색상(hue), 채도(saturation), 밝기(light)
    */
    color: hsla(103, 43%, 46%, 0.589);
}
#td-none{
    text-decoration: none;
}
#td-underline{
    text-decoration: underline;
}
#td-overline{
    text-decoration: overline;
}
#td-line-throught{
    text-decoration: line-through;
}
li{
    padding: 20px;
    /*선의 두께, 선 스타일, 색상*/
    border: 1px dotted #000;
}
a{
    text-decoration: none;
    color: #666;
    font-size: 1.5em;
}
#ts1{
    text-shadow: 3px 3px 3px black ;
}
#ts2{
    text-shadow: -3px -3px 3px #000;
}
#ts3{
    text-shadow: -10px 10px 2px rgb(255, 0, 0);
}

#tt1{
    text-transform: none;
}
#tt2{
    text-transform: capitalize;
}
#tt3{
    text-transform: uppercase;
}
#tt4{
    text-transform: lowercase;
}